<template lang="">
	<header class="py-4 border-b border-gray-300 grid md:grid-cols-2 gap-4 items-center sticky top-0 bg-white z-50">
		<div class="grid grid-flow-col items-center">
			<nuxt-link class="block w-48 px-4 md:px-0" :to="localePath('/')"
				><img src="/VoteLog-Logo.svg" alt=""
			/></nuxt-link>
			<button @click="toggleMenu" class="inverted border-none lg:hidden w-12 p-2 justify-self-end">
				<img class="icon h-8" :src="open ? '/icons/xmark.svg' : '/icons/bars.svg'" alt="" />
				<!-- <icon class="fa-2xl" :icon="open ? 'fal fa-times' : 'fal fa-bars'" /> -->
			</button>
		</div>
		<div
			class="grid gap-y-8 xl:gap-y-12 transition-all overflow-hidden lg:overflow-visible duration-500"
			:class="open ? 'max-h-screen' : 'max-h-0 lg:max-h-screen '"
		>
			<nav class="md:justify-self-end flex flex-col md:flex-row">
				<ol class="flex flex-col md:flex-row text-xl md:text-base">
<!--					<li><nuxt-link :to="localePath('updates')">Updates</nuxt-link></li>-->
					<li><nuxt-link :to="localePath('team')">Team</nuxt-link></li>
					<li><nuxt-link :to="localePath('mission')">Mission</nuxt-link></li>
				</ol>
<!--				<select-->
<!--					class="px-4 py-2 appearance-none text-xl md:text-base"-->
<!--					v-model="selectedLanguage"-->
<!--					@change="onChange(selectedLanguage)"-->
<!--				>-->
<!--					<option v-for="(locale, index) in $i18n.locales" :key="index" :value="locale.code">-->
<!--						{{ locale.name }}-->
<!--					</option>-->
<!--				</select>-->
			</nav>
		</div>
	</header>
</template>
<script>
export default {
	name: 'page-header',
	data() {
		return {
			selectedLanguage: '',
			open: false
		}
	},
	created() {
		this.selectedLanguage = this.$i18n.locale
	},
	methods: {
		onChange(event) {
			this.$router.replace(this.switchLocalePath(event))
		},
		toggleMenu() {
			this.open = !this.open
		}
	}
}
</script>
<style lang="sass">
ol
	li
		a
			@apply py-2 px-4 block
			&:hover
				@apply text-blue-700
</style>
