<template>
	<footer class="grid md:grid-cols-3 gap-8 p-4 md:px-0 border-t border-gray-300 text-xs">
		<div>
			<h4>Legal</h4>
			<p>12.5.2022 Quelle Parlamentsdaten: «Parlamentsdienste der Bundesversammlung, Bern»</p>
			<p>
				The VoteLog database is available under the
				<a href="https://opendatacommons.org/licenses/odbl/1.0/" target="_blank">Open Database License</a>.
			</p>
			<p>
				The individual contents of the database are available under the
				<a href="https://opendatacommons.org/licenses/dbcl/1.0/" target="_blank">Database Contents License.</a>
			</p>
		</div>
		<div>
			<h4>Unterst&uuml;tzer</h4>
			<br />
			<div class="grid grid-cols-2 gap-8">
				<a target="_blank" href="https://prototypefund.opendata.ch/"
					><img src="https://opendata.ch/wordpress/files/2021/04/PTF-Logo-169.png" alt=""
				/></a>
				<a target="_blank" href="https://opendata.ch/"
					><img src="https://prototypefund.opendata.ch/files/2020/02/opendata-logo-schwarz-weiss.jpg" alt=""
				/></a>
				<a target="_blank" href="https://www.stiftung-mercator.ch/"
					><img src="https://prototypefund.opendata.ch/files/2022/01/Mercator_Logo_RGB.jpg" alt=""
				/></a>
				<a target="_blank" href="https://vercel.com/?utm_source=VoteLog&utm_campaign=oss"
					><img src="/powered-by-vercel.svg" alt="Powered by Vercel"
				/></a>
			</div>
		</div>
		<div>
<!--			<a class="button inline-block mb-2" href="https://prototype.votelog.ch/de" target="_blank">Prototype</a>-->
<!--			<br />-->
			<a class="button inline-block mb-2" href="https://gitlab.com/votelog/" target="_blank">GitLab</a> <br />
			<a class="button inline-block" href="mailto:mail@votelog.ch" v-html="$t('contact')" />
		</div>
		<div class="md:col-span-3">
			<p>© 2019–2022 VoteLog</p>
		</div>
	</footer>
</template>
<script>
export default {
	name: 'page-footer'
}
</script>
<style lang=""></style>
