@import 'fonts/inter'

html, select
	font-size: 18px
	@apply font-light antialiased

p
	@apply my-2 leading-relaxed text-gray-700
	a
		@apply text-blue-700 border-b border-blue-700
		// &[target="_blank"]
		// 	&::before
		// 		height: 1rem
		// 		width: 1rem
		// 		margin-right: 2px
		// 		display: inline-block
		// 		vertical-align: text-top
		// 		content: url('/external.svg')
		&:hover
			@apply inline-block bg-blue-700 text-white border-none
		&::before, &::after
			content: '\00a0'

h1, h2, h3, h4
	@apply font-bold mt-4

h1
	font-size: 2rem

h2
	font-size: 1.33rem

h3
	font-size: 1.2rem

h4
	font-size: 1rem

a
	&.nuxt-link-exact-active
		@apply text-blue-700
	&.button
		@apply py-3 px-4 bg-gray-800 rounded-sm text-white leading-none text-base uppercase font-normal

// Probably have to figure out some easy md-to-css layout solutions. But that's for future Simon.
.team-grid
	@apply grid md:grid-cols-2 lg:grid-cols-3 gap-8