<template>
	<div class="container">
		<PageHeader />
		<Nuxt class="py-4 md:py-10 px-4 md:px-0" />
		<PageFooter />
	</div>
</template>

<script>
import PageHeader from '../components/PageHeader.vue'
import PageFooter from '../components/PageFooter.vue'
export default { components: { PageHeader, PageFooter } }
</script>
