<template>
	<div>
		<main>
<!--			<h1>Votelog</h1>-->
			<div>
				<iframe
					src="https://www.youtube-nocookie.com/embed/-HZHlFX6DGA"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture"
					allowfullscreen
					class="w-full h-96 my-8"
				></iframe>
			</div>
			<div>
				<p>
          In den vier Jahren einer Legislaturperiode behandeln National- und Ständerat hunderte parlamentarische Geschäfte, im Rahmen derer sie tausende Einzelentscheide fällen. Dieses Abstimmungsverhalten des Schweizer Parlamentes ist – obwohl weitgehend öffentlich zugänglich – schwer zu verstehen und einzuordnen. Bislang existiert keine öffentliche Plattform, welche diesen elementaren Teil des Parlamentsbetriebes in für Bürger:innen relevanter und zugänglicher Form einsehbar macht – was zu einem Mangel an faktenbasierter Kontrolle über die gewählten Vertreter:innen führt.<br><br>
          VoteLog bietet der Zivilgesellschaft einerseits ein niederschwelliges Werkzeug, um das Stimmverhalten der Parlamentarier:innen auf eine standardisierte Art und Weise zu bewerten. Andererseits ermöglicht VoteLog der gesamten Öffentlichkeit, diese Bewertungen in beliebig aggregierter und visuell aufbereiteter Form nachzuvollziehen – und auch als Wahlhilfe heranzuziehen.<br><br>
          VoteLog richtet sich primär an Bürger:innen und Politikinteressierte sowie gemeinnützige Vereine, zivilgesellschaftliche Interessenverbände und Nichtregierungsorganisationen. VoteLog wird eine frei zugängliche Open-Source-Webplattform, deren Output Forscher:innen, Journalist:innen etc. als Open Data zur Verfügung steht und diesen erlaubt, den repräsentativen Teil der Schweizer Demokratie nachhaltig zu analysieren, zu hinterfragen und weiter zu kontextualisieren.<br><br>
          VoteLog stärkt damit die politische Transparenz und erhöht die Rechenschaftspflicht der demokratisch gewählten Repräsentant:innen.
				</p>
			</div>
		</main>
	</div>
</template>

<script>
export default {}
</script>

<style lang=""></style>
