<template>
	<div id="placeholder">
		<v-row justify="center" align="center">
			<v-col cols="12" sm="9" md="8" id="logo">
				<img src="/VoteLog-Logo.svg" alt="VoteLog" />
			</v-col>
		</v-row>

		<v-row justify="center" align="center">
			<v-col cols="12" sm="8" md="6" id="info">
				<div class="lang-switcher">
					<nuxt-link
						v-for="locale in availableLocales"
						:key="locale.code"
						:to="switchLocalePath(locale.code)"
						v-html="locale.name"
					/>
				</div>

				<div v-html="$t('info')" />

				<div>
					<p>
						Raphael Bosshard, Salim Brüggemann, Simon Fischer, Christoph Laszlo, Patricia Lenz, Fernando
						Obieta, Reto Schneider.
					</p>
				</div>

				<div v-if="videoEmbed" v-html="videoEmbed" class="video-embed" />

				<div class="contact">
					<p>
						<a href="https://prototype.votelog.ch/de" target="_blank"> Prototype </a>

						<a href="https://gitlab.com/votelog/" target="_blank">GitLab</a>

						<a href="mailto:mail@votelog.ch">mail@votelog.ch</a>
					</p>
				</div>

				<div class="copy">&copy; 2019–{{ new Date().getFullYear() }} VoteLog</div>
			</v-col>
		</v-row>
	</div>
</template>

<script>
export default {
	data() {
		return {
			people: "Raphael Bosshard, Salim Brüggemann, Simon Fischer, Christoph Laszlo, Patricia Lenz, Fernando Obieta, Reto Schneider.",
			videoEmbed: `<iframe
width="560" height="315" src="https://www.youtube-nocookie.com/embed/-HZHlFX6DGA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture" allowfullscreen></iframe>`,
		}
	},
	computed: {
		availableLocales() {
			return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
		},
	},
}
</script>

<style lang="scss">
#logo {
	padding-top: 10vh;
	padding-bottom: 4rem;
}

.lang-switcher {
	margin-bottom: 1rem;
	a {
		font-style: italic;
		color: black;
		text-decoration: none;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.contact {
	margin-top: 2rem;

	a {
		border: 1px solid black;
		padding: 0.75rem;
		font-weight: bold;
		text-decoration: none;
		color: white !important;
		background-color: black;
		margin-right: 0.5rem;
	}
}

.copy {
	margin-top: 2rem;
}

a {
	color: black !important;
}

img {
	width: 100%;
}

.video-embed {
	text-align: center;
	padding: 2rem 0;
}
</style>
