<template lang="">
	<div v-html="page"></div>
</template>
<script>
export default {
	name: 'mission',
	async asyncData({ store, route, $md }) {
		await store.dispatch('content/fetchContentByKeys', {
			path: route.path,
			keys: ['mission']
		})
		const content = store.getters['content/getContent'](route.path)
		if (content) {
			return {
				page: $md.render(content)
			}
		}
	},
	nuxtI18n: {
		paths: {
			en: '/mission',
			de: '/mission',
			fr: '/mission',
			it: '/missione'
		}
	}
}
</script>
<style lang=""></style>
