<template lang="">
	<div v-html="page"></div>
</template>
<script>
export default {
	async asyncData({ store, route, $md }) {
		await store.dispatch('content/fetchContentByKeys', {
			path: route.path,
			keys: ['team']
		})
		console.log(route.path)
		const content = store.getters['content/getContent'](route.path)
		if (content) {
			return {
				page: $md.render(content)
			}
		}
	}
}
</script>
