<template lang="">
	<div>
		<h1>Updates</h1>
		<p>Follow us on twitter to stay updated!</p>
		<p><a class="button" href="https://twitter.com/votelog_ch/">Votelog on Twitter</a></p>
	</div>
</template>
<script>
export default {}
</script>
<style lang=""></style>
